<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <img class="anime" src="./img/picture.jpg">
    <p>Name: {{name}}</p>
    {{>footer}}
</body>

</html>